/* external css: flickity.css */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
/* 
.container-fluid {
  background-color: #f0f2ff;
} */
.carousel {
  width: 50%;
  margin: auto;
}

.carousel-cell {
  width: 150px;
  height: 150px;
  margin-right: 20%;
  /* background: #012169; */
  border-radius: 50%;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  /* background: #ed2; */
  border: turquoise;
}

/* cell number */
/* .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

.carousel-cell img {
  border-radius: 50%;
  width: 100%;
}
.custom-color {
  color: #1668ba;
  font-weight: 700;
}

footer {
  background: #012169;
  color: #ffffff;
}

footer .copyright {
  background: #07182a;
  color: #5f6f80;
}
