*{
  letter-spacing: 1px;
}

/* Permis accélleré Landing Page */
.landing-page-image-container {
  display: flex;
  max-height: 300px;
  overflow: hidden;
}
.landing-page-image-container img {
  width: 100%;
  align-self: center;
  object-fit: cover;
}

/* Permis accéléré Jumbotron */
.landing-page-description .jumbotron {
  background-color: #ffffff;
}

.landing-page-description .jumbotron ul li::before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background-image: url(../img/icones/check.png);
  background-size: cover;
}
.landing-page-description .jumbotron ul li {
  list-style: none;
  color: #757575 !important;
  font-size: 1.2em;
}
.landing-page-description .jumbotron ul {
  margin: 0;
  padding: 0;
}

/* JUMBOTRON CARD  */
.card-custom-position {
  display: block;
  justify-content: center;
}
.card-custom-position .card {
  margin: 0;
  padding: 0;
}

.card-custom-position .card:nth-child(2),
.card-custom-position .card:last-child {
  padding-top: 30px;
  margin-top: 60px;
}

/* SECTION EXAM */
div.container-fluid.section-exam {
  background-color: #f0f2ff;
  background-image: url(../img/illustrations/accelere.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -40%;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.custom-row-exam {
  justify-content: flex-end;
}

/* SECTION FORMULE */
.formule-description {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.4em;
  align-self: center;
  letter-spacing: 0.25px;
}

.formule-description strong {
  color: #1668ba;
}



/*Page PERMIS AUTO */

/* Section Formation*/
div.container-fluid.section-formation {
  background-color: #f0f2ff;
  background-image: url(../img/illustrations/traffic.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 230px;
  background-position:  69rem 8rem;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.custom-row-formation {
  display:flex;
  flex-direction:row;
  justify-content: start;
  align-items:center;
  padding-right:9%;
}

.custom-row-formation > div {
  margin-left: 1.5rem;
}


/*CONDUITE ACCOMPAGNÉE*/

.card-car{
  width:"20%"; 
  height:"20%";
}

/*Formation initiale*/
div.container-fluid-bleu{
  color:#757575;
  text-align:justify;
  align-self:center;
  justify-content:center;
  background-color: #f0f2ff;
  height:20%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:3%;
}
.init{
  padding-top:2%;
}

.livret,.eval{
  padding-top:3%;
  padding-right:2%;
}

.fin{
  width:98%;
  color:grey;
  height:2%;
}

/*Accompagnateur*/
div.container-fluid-blanc{
  background-image:url(../img/illustrations/bonhomme.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 280px;
  background-position:  59rem 8rem;
  text-align:justify;
  padding-left:7%;
  padding-right:7%;
  padding-top:5%;
  padding-bottom:5%;
}

.assurance,.accompagnateur{
  padding-top:2%;
}

.bonhomme{
  width:20%;
  height:20%;
  align-self:center;
  margin-left:15%;
  margin-bottom:20%;
}

/*Permis*/
.examen,.probatoire{
  text-align:justify;
  color:#757575;
  border-left: 1px solid;
  border-color:#1668ba;
  padding-left: 3%;
}

/*Bonus*/
div.container-fluid-fonce{
text-align:justify;
color:#1668ba;
font-size:bold;
padding-left:2%;
padding-right:2%;
padding-top:2%;
padding-bottom:2%;
background-color:#fff;
font-style:bold;
}

.conduite,.bonus{
  padding-top:2%;
  padding-left:8%;
  padding-right:5%;
}


/* RESPONSIF */
@media (max-width: 1200px) {
  div.container-fluid.section-exam {
    background-image: none;
  }

  div.container-fluid.section-formation {
    background-image: none;
  }

  .custom-row-exam {
    justify-content: center;
  }

  .custom-row-formation > div {
    margin-left: 0;
  }
/*Conduite accompagnée*/
div.container-fluid-blanc {
  background-image: none;
}
}