footer {
  background: #012169;
  color: #ffffff;
  letter-spacing: 1px;
}

footer .custom-row .card {
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

footer .prepacode-section {
  text-align: center;
}

footer .prepacode-section img {
  padding: 1em;
  transition: 1s;
}
footer .prepacode-section img:hover {
  box-shadow: 0 0 15px 2px #f2f0ff;
  background: #1668ba;
  transform: rotateZ(10deg);
}

footer p.card-text {
  text-align: left;
  line-height: 30px;
}

footer h4.card-title {
  color: white;
  text-align: left;
}

footer a {
  font-weight: normal !important;
}

.prepacode {
  width: 200px;
  height: auto;
}

footer .copyright {
  background: #07182a;
  color: #5f6f80;
  padding-top: 20px;
  padding-bottom: 20px;
}

.separator-custom {
  border-top: #ffffff 0px solid;
}

.social svg {
  margin-left: 2%;
  margin-right: 2%;
}
@media (max-width: 1000px) {
  .separator-custom {
    border-top: #ffffff 2px solid;
    margin-top: 0;
  }
}
