/* Permis accélleré Landing Page */
.landing-page-image-container {
  display: flex;
  max-height: 300px;
  overflow: hidden;
}
.landing-page-image-container img {
  width: 100%;
  align-self: center;
  object-fit: cover;
}

.landing-page-description .jumbotron {
  background-color: #ffffff;
}

.landing-page-description .jumbotron ul li::before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background-image: url(../img/icones/check.png);
  background-size: cover;
}
.landing-page-description .jumbotron ul li {
  list-style: none;
  color: #757575 !important;
  font-size: 1.2em;
}
.landing-page-description .jumbotron ul {
  margin: 0;
  padding: 0;
  color: red;
}

div.container-fluid.section-accelere {
  background-color: #f0f2ff;
  background-image: url(../img/illustrations/accelere.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -30%;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 50px;
  height: 440px;
}

.card-custom-position {
  display: flex;
  justify-content: center;
}
.card-custom-position .card {
  margin: 0;
  padding: 0;
}

.card-custom-position > .card > .card-body {
  align-self: center;
  color: red;
}

.card-custom-position .card:nth-child(2),
.card-custom-position .card:last-child {
  padding-top: 30px;
  margin-top: 60px;
  /* margin-bottom: 40px; */
}

/* Mik Responsif */
@media (max-width: 1200px) {
  /* div.container-fluid.section-accelere {
    background-image: none;
  } */

  .section-inner-code {
    position: relative;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 80%;
  }

  /* .col-md-6 {
    width: 100%;
  } */
}
