*{
  letter-spacing: 1px;
}

.p-8{
  padding: 40px 80px;
}

/* Permis accélleré Landing Page */
.landing-page-image-container {
  display: flex;
  max-height: 300px;
  overflow: hidden;
}
.landing-page-image-container img {
  width: 100%;
  align-self: center;
  object-fit: cover;
}

/* Permis accélléré Jumbotron */
.landing-page-description .jumbotron {
  background-color: #ffffff;
}

.landing-page-description .jumbotron ul li::before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background-image: url(../img/icones/check.png);
  background-size: cover;
}
.landing-page-description .jumbotron ul li {
  list-style: none;
  color: #757575 !important;
  font-size: 1.2em;
}
.landing-page-description .jumbotron ul {
  margin: 0;
  padding: 0;
}

/* JUMBOTRON CARD  */
.card-custom-position {
  display: block;
  justify-content: center;
}
.card-custom-position .card {
  margin: 0;
  padding: 0;
}

.card-custom-position .card:nth-child(2),
.card-custom-position .card:last-child {
  padding-top: 30px;
  margin-top: 60px;
}


/* SECTION EXAM */
div.container-fluid.section-exam {
  background-color: #f0f2ff;
  background-image: url(../img/illustrations/accelere.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -40%;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.custom-row-exam {
  justify-content: flex-end;
}

/* SECTION FORMULE */
.formule-description {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.4em;
  align-self: center;
  letter-spacing: 0.25px;
}

.formule-description strong {
  color: #1668ba;
}

/* SECTION VACATION */
div.container-fluid.section-vacation {
  background-color: #f0f2ff;
  background-image: url(../img/illustrations/vacation2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 230px;
  background-position: 60rem 2rem;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.custom-row-vacation {
  justify-content: start;
}

.custom-row-vacation > div {
  margin-left: 1.5rem;
}

/* Responsif */
@media (max-width: 1200px) {
  div.container-fluid.section-exam {
    background-image: none;
  }

  div.container-fluid.section-vacation {
    background-image: none;
  }

  .custom-row-exam {
    justify-content: center;
  }
  .custom-row-vacation {
    justify-content: center;
  }

  .custom-row-vacation > div {
    margin-left: 0;
  }
}

/*------Section - Permis moto ------*/

.section-categories-permis-moto{
  background-color: #f2f0ff;
}

.title-section-categories-permis-moto{
  font-size: 2em;
}

.middle-section-categories-permis-moto{
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

h2.nom-permis-moto{
  font-family: 'Roboto-Slab';
  font-size: 3em !important;
}

.age-permis-moto{
  font-size: 2em;
}

.description-permis-moto-lower{
  font-size: 0.75em;
}

.bell-section-info-permis-moto{
  background-color: #1668bA;
  color: white;
}

svg.bi.bi-bell{
  color: white;
  float: left;
  margin-right: 30px;
}

svg.skills-1-svg{color: #2042AB;}
svg.skills-2-svg{color: #2074AB;}
svg.skills-3-svg{color: #20AB94;}
svg.skills-4-svg{color: #20AB39;}

h2.competences-permis-moto{
  font-family: 'Roboto-Slab';
}

div.formation-pistes-moto ul li{
  list-style-type: none;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.formation-pistes-moto ul li::before {
  content: '';
  display: inline-block;
  height: 17px;
  width: 17px;
  margin-right: 10px;
  background-image: url(../img/icones/check.png);
  background-size: cover;
}

/*Section historique permis moto*/
.section-history-permis-moto-all-p{
  font-size: 0.8em;
}
/*------Responsive-------*/

@media (max-width: 1200px){
  .p-8{
    padding: 20px 40px;
  }
}

@media (max-width: 600px){
  .p-8{
    padding: 10px 10px;
  }