@font-face{
  font-family: 'Raleway-Medium';
  src: url(../fonts/raleway/Raleway-Medium.ttf);
}

@font-face{
  font-family: 'Roboto-Slab';
  src: url(../fonts/roboto-slab/RobotoSlab-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway-Medium';
}

button{
  letter-spacing: 1px;
}

h1{
  font-family: 'Roboto-Slab';
  text-align: center !important;
  font-size: 4em !important;
  font-weight: bold;
  color: #1668BA;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.row{
  margin: 0;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

/*------Section - J'obtiens mon permis------*/
.container-permis{
  margin-left: 10%;
  margin-right: 10%;
}

.permis{
  margin-bottom: 80px;
}

div.card{
  background-color: #f0f2ff;
  border: none;
  text-align: center;
  margin-bottom: 10%;
  margin-left: 30px;
  margin-right: 30px;
}

.card-img-top{
  width: 65%;
  height: auto;
  align-self: center;
  margin-top: -40%;
}

.card-title{
  text-align: center;
  color: #1c2381;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

button.interest{
  border: none;
  background-color: #d8e6fc;
  color: #1C458a;
  font-size: 1.4em;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
}

button.interest a{
  color: #1c458A;
}

button.interest a:hover{
  color: #113571;
  text-decoration: none;
}

button.interest:hover{
  background-color: #c0d1ee;
}

/*------Section : J'obtiens mon code------*/

div.container-fluid.section-code{
  background-color: #f0f2ff;
  background-image: url(../img/illustrations/code.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 50px;
  height: 380px;
}

.section-inner-code{
  position: absolute;
  right: 0;
  margin-right: 100px;
}

.description-code{
  color: #757575;
  letter-spacing: 1px;
}

button.code-interest{
  border: none;
  background-color: #1668ba;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

h1.left{
  text-align: left !important;
  margin-bottom: 20px;
}

button.code-interest:hover{
  background-color: #0f559b;
}

button.code-interest a{
  color: white;
}

button.code-interest a:hover{
  text-decoration: none;
  color: white;
}

/*------Section - Notre histoire------*/

.container-fluid-history{
  margin-bottom: 80px;
}

.section-history{
  justify-content: center;
}

.title-our-history{
    margin-bottom: 55px;
}

.section-history-description{
  text-align: justify;
  border-left: 1px solid #bebebe;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.4em;
  align-self: center;
  letter-spacing: 0.25px;
}

.section-history-description p{
  margin-bottom: 0;
}

.section-photo-history{
  text-align: center;
  align-self: center;
}

.photo-history{
  width: 350px;
  height: auto;
  border-radius: 10px;
}

div.section-history-description strong{
  color: #1668bA;
}

/*------Section - Notre équipe------*/
/*------Les formateurs------*/

.section-team:last-child{
  justify-content: center;
  background-color: #f0f2ff;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.photo-history{
  width: 80%;
}

.section-team-formateurs{
  padding-left: 30px;
}

.section-team h1{
  text-align: left !important;
}

.section-flickity{
  align-self: center;
}

.team-description{
  font-family: 'Roboto-Slab';
  font-size: 2.2em;
  color: #1668bA;
  margin-top: -40px;
}

.six{
  font-size: 2.4em;
}

.section-team ul li{
  list-style: none;
  color: #757575 !important;
  font-size: 1.2em;
  line-height: 40px;
}

.section-team ul li::before{
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-bottom: -5px;
  background-image: url(../img/icones/check.png);
  background-size: cover;
}

.section-team ul li:nth-child(2){
  padding-left: 15px;
}

.section-team ul li:last-child{
  padding-left: 30px;
}

/*------Flickity carousel------*/
 
.flickity .carousel {
  width: 90%;
  margin: 0 auto;
}

.flickity .carousel-cell {
  width: 250px;
  height: 250px;
  margin-right: 10%;
  border-radius: 50%;
  counter-increment: carousel-cell;
  padding-bottom: 20px;
}

.flickity .carousel-cell.is-selected {
  border: turquoise;
}

.flickity .carousel-cell img {
  border-radius: 50%;
  width: 100%;
}

.flickity .custom-color {
  color: #1668ba;
  font-weight: 700;
}

.flickity ol.flickity-page-dots{
  display: none;
}

.flickity-prev-next-button .flickity-button-icon {
  width: 130%;
  height: 130%;
}

.flickity-prev-next-button.next{
  margin-right: -30px !important;
}

.flickity-prev-next-button.previous{
  margin-left: -60px !important;
}

.flickity-button {
  position: absolute;
  background: none;
  color: #b4b5b6;
}

.flickity-button:hover {
  background: none;
  color: #1668BA;
}


/*------------Responsive------------*/

@media (min-width: 1800px){

  .section-history h1{
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .section-history-description{
    font-size: 1.5em;
  }

  .section-team{
    padding-top: 60px;
  }

  p.team-description{
    font-size: 3em;
  }

  .section-team-formateurs ul{
    font-size : 1.4em;
    line-height: 50px;
    letter-spacing: 1px;
  }

  .flickity .carousel-cell {
    width: 300px;
    height: 300px;
    margin-right: 10%;
  }

  .flickity-prev-next-button .flickity-button-icon {
    width: 180%;
    height: 180%;
  }

  .flickity-prev-next-button.next{
    margin-right: -60px !important;
  }

  .flickity-prev-next-button.previous{
    margin-left: -90px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1550px){
  .flickity .carousel-cell {
    width: 180px;
    height: 180px;
    margin-right: 10%;
  }
}

@media (min-width : 1500px){
  .section-inner-code{
    margin-right: 200px;
  }
}

@media (max-width: 1600px){

  h1{
    font-size: 3em !important;
  }

  .card-title{
    font-size: 1.5em;
  }

  button.interest{
    border: none;
    background-color: #d8e6fc;
    color: #1C458a;
    font-size: 1em;
  }
  .section-history-description{
    font-size: 1.25em;
  }
}

@media (max-width: 1500px){
  .section-history-description{
    font-size: 1.2em;
  }
}

@media (max-width: 1400px){
  button.interest{
    padding-right: 25px;
    padding-left: 25px;
  }

  .section-history-description{
    font-size: 1em;
  }
}

@media (max-width: 1300px){
  h1{
    font-size: 2em !important;
  }

  .container-permis{
    margin-left: 5%;
    margin-right: 5%;
  }

  div.card{
    margin-left: 0;
    margin-right: 0;
  }

  .section-inner-code{
    margin-right: 50px;
  }

  .section-history-description{
    font-size: 1em;
  }
}

@media (max-width : 1200px){
  div.container-fluid.section-code{
    height: 340px;
    background-position: -50px;
  }
  .section-history-description{
    font-size: 0.9em;
  }
}

@media (max-width: 1100px){
  .flickity .carousel-cell {
    width: 200px;
    height: 200px;
  }
  .section-team ul li{
    font-size: 1em;
  }

  .section-history-description{
    font-size: 0.8em;
  }
}

@media (max-width: 1000px){
  p.description-code{
    font-size: 0.8em;
  }

  div.container-fluid.section-code{
    height: 350px;
    background-position: -150px;
    margin-top: 20px;
  }

  .permis{
    margin-bottom: 15px;
  }
}

@media (max-width: 991px){
  .photo-history{
    width: 70%;
  }

  .section-history-description{
    border: none;
  }
}

@media (max-width: 935px){
  h1{
    font-size: 2.5em !important;
  }

  .card-title{
    font-size: 1.3em;
  }

  button.interest{
    font-size: 0.8em;
    padding-right: 25px;
    padding-left: 25px;
  }

  button.interest{
    padding-right: 30px;
    padding-left: 30px;
  }

  p.card-title, button.interest{
    margin-top: -30px;
  }

  div.container-fluid.section-code{
    height: 400px;
    background-position: -300px;
    margin-top: 20px;
  }
}

@media (max-width: 900px){
  .flickity .carousel-cell {
  width: 150px;
  height: 150px;
  margin-right: 10%;
  }
  .flickity-prev-next-button .flickity-button-icon {
    width: 100%;
    height: 100%;
  }

  div.section-team h1{
    font-size: 2em !important;
  }

  .six{
    font-size: 1.5em;
  }

  .team-description{
    font-size: 2em;
  }

  .section-history h1{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }

  .photo-history{
    width: 80%;
  }
}

@media (min-width: 767px) and (max-width: 844px){
  .card-title{
    font-size: 1em;
  }

  button.interest{
    font-size: 0.6em;
  }
}

@media (max-width: 767px){
  div.container-fluid.section-code{
    background-image: none;
    height: 350px;
  }

  p.description-code{
    font-size: 1.2em;
  }

  .section-inner-code{
    position: relative;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
  }

  div.container-permis.section-permis div.card:first-child{
    margin-top: 150px;
  }

  .section-history-description{
    font-size: 1.2em;
  }

  .section-photo-history{
    margin-top: 30px;
  }

  .flickity-prev-next-button.next{
    margin-right: 0 !important;
  }

  .flickity-prev-next-button.previous{
    margin-left: 0 !important;
  }

  .section-team-formateurs{
    margin-bottom: 30px;
  }

}

@media (min-width: 550px) and (max-width: 767px){
  .section-team-formateurs{
    padding-left: none;
    text-align: center;
  }

  .section-team-formateurs h1{
    display: inline-block;
    margin-right: 70px;
  }

  .section-team-formateurs ul li{
    display: inline-block;
  }

  .section-team-formateurs ul{
    display: inline-block;
  }

  .section-team-formateurs p.team-description{
    display: inline-block;
    text-align: right !important;
  }
}

@media (min-width: 480px) and (max-width: 767px){
  .card-title{
    font-size: 2em;
  }

  button.interest{
    font-size: 1.4em;
    padding-right: 50px;
    padding-left: 50px;
  }

  p.card-title, button.interest{
    margin-top: -50px;
  }
}

@media (max-width: 620px){
  div.container-fluid.section-code{
    height: 380px;
  }

  div.container-permis.section-permis div.card:first-child{
    margin-top: 80px;
  }

  .flickity .carousel-cell {
  margin-right: 13%;
  }

  .flickity-prev-next-button .flickity-button-icon {
  width: 70%;
  height: 70%;
  }
}

@media (max-width: 480px){
  div.container-fluid.section-code{
    height: 450px;
  }

  .card-title{
    font-size: 1.5em;
  }

  button.interest{
    font-size: 1.1em;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 430px){

  div.container-fluid.section-code{
    height: 480px;
    padding-right: 0;
    padding-left: 0;
  }

  div.container-permis.section-permis div.card:first-child{
    margin-top: 40px;
  }

  button.interest{
    font-size: 0.9em;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 411px){
  .flickity .carousel-cell {
    width: 200px;
    height: 200px;
    margin-right: 25%;
  }
}

@media (max-width: 390px){
  div.container-fluid.section-code{
    height: 520px;
  }
}

@media (max-width: 350px){
  div.container-fluid.section-code{
    height: 540px;
  }
}

@media (max-width: 330px){
  div.container-fluid.section-code{
    height: 560px;
  }


}

@media (max-width: 300px){
  div.container-fluid.section-code{
    height: 580px;
  }
}